<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droids4dev.codemotion.wear" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.droids4dev.codemotion.wear.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.droids4dev.codemotion.wear.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="com.droids4dev.codemotion.wear.ShowMessageActivity"
            android:label="@string/title_activity_show_message" >
        </activity>
    </application>

</manifest>
